/* universal */

html{
    background-color: black;
    text-align: center;
    font-family: Verdana;
    color: white;
    

}

.link{
    color: aquamarine;
    font-size: 16px;
}

h1{
    font-size: 50px;
    font-family: Verdana;
    font-weight: normal;
}